:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: large;

  color: white;
  background: #111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  height: 100%;
  padding: 0;
}

#root {
  width: 100%;
}

*::selection {
  color: #111;
  background-color: white;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  cursor: pointer;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

video {
  outline: none;
  box-shadow: 2px 2px 8px #666;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.Sidebar {
  display: block;
  max-width: 180px;
  position: sticky;
  top: 0px;
  left: 0px;
  padding-right: 200px;
  padding-left: 5px;
  margin-top: -90px;
  margin-bottom: -90px;
  mix-blend-mode: difference;
  background: none;
}

.LogoName {
  font-weight: bolder;
}

.Navbar {
  display: flex;
  flex-direction: column;
  align-items: end;
  max-width: 180px;
  position: sticky;
  top: 0px;
  left: 100%;
  margin-bottom: -20px;
  padding-left: 200px;
  mix-blend-mode: difference;
  background: none;
}

.Navlink {
  transition: 0.15s;
  color: white;
  text-decoration: none;
  font-size: large;
  padding: 8px;
}

.Navlink.disable {
  color: black;
  visibility: hidden;
}

.Navlink:first-child rect {
  transition: 0.35s;
  width: 0%;
  position: relative;
  top: 1rem;
  color: white;
}

.Section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.Section:nth-of-type(odd) {
  background-color: #111;
}

.Section:nth-of-type(even) {
  background-color: #eee;
}

.Section > p, h1, h2, ul, a {
  color: white;
  max-width: 45%;
  mix-blend-mode: difference;
}

ul {
  width: 100%;
}

li {
  width: 100%;
}

.Project {
  mix-blend-mode: luminosity;
  display: flex;
  flex-direction: column;
  align-items: center;
  isolation: isolate;
}

.Project > img {
  max-width: 45%;
}

dialog img {
  box-shadow: 2px 2px 8px #666;
}

.Isolate {
  isolation: isolate;
}

dialog {
  border: none;
  border-radius: 8px;
  color: white;
  min-width: 100px;
  max-width: 500px;
  mix-blend-mode: normal;
  isolation: isolate;
  outline: none;
  box-shadow: 0px 8px 32px #222;
  animation: dialogAppear 0.2s linear;
}
@keyframes dialogAppear {
  from {
    transform: scale(1.0, 0.0);
  }
  to {
    transform: scale(1.0, 1.0);
  }
}

dialog * {
  position:sticky;
  color: black;
  mix-blend-mode: normal;
  max-width: 100%;
  opacity: 0;
  animation: dialogContentFade 0.3s ease-in 0.2s; 
  animation-fill-mode: forwards;
}
@keyframes dialogContentFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

dialog a {
  color: #77f;
}

dialog::-webkit-scrollbar {
  background-color: #999;
}

dialog::-webkit-scrollbar-thumb {
  background-color: #444;
}

dialog::backdrop {
  backdrop-filter: blur(8px);
  isolation: isolate;
  animation: dialogBackdropFadein 0.2s ease-in;
}
@keyframes dialogBackdropFadein {
  from {
    backdrop-filter: blur(0px);

  }

  to {
    backdrop-filter: blur(8px);

  }
}

.NoScroll {
  overflow: hidden;
}

h4 {
  cursor: pointer;
}

.MobileHeader {
  display: none;
}

@media (max-width: 600px) {
  .Project > img {
    max-width: 80%;
  }

  .Section > p, h1, h2, ul, a {
    color: white;
    max-width: 80%;
    mix-blend-mode: difference;
  }

  .Sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 100%;
    padding: 5px;
    margin: 0;
  }

  .LogoName {
    font-size: xx-large;
  }

  .Navbar {
    display: none;
  }

  .MobileHeader {
    display: block;
  }

  dialog {
    color: black;
  }

}

.Tooltip {
  display: inline;
  border-bottom: #555 dotted;
}